extends ../templates/template

block preloader
  include ../blocks/preloader

block header
  include ../blocks/header

block slider
  include ../blocks/slider

block info
  include ../blocks/info
  
block contact
  include ../blocks/contact
  
block services
  include ../blocks/services 

block testimonials
  include ../blocks/testimonials
  
block milestones
  include ../blocks/milestones

block appointments
  include ../blocks/appointments
  
block footer
  include ../blocks/footer
