extends ../templates/template

block preloader
  include ../blocks/preloader

block header
  include ../blocks/header

block slider
  include ../blocks/slider
//- 
//- block gallery
//-   include ../blocks/gallery
//- 
//- block about
//-   include ../blocks/about
//- 
//- block contact
//-   include ../blocks/contact
//- 
//- block footer
//-   include ../blocks/footer
