extends ../templates/location

block preloader
  include ../blocks/preloader

block header
  include ../blocks/header

block location
  include ../blocks/location

block footer
  include ../blocks/footer
