//- // ***** Footer Area Start *****
footer.footer-area
  //- // Main Footer Area
  .main-footer-area.section_padding_100.bg-default
    .container
      .row
        .col-12.col-sm-6.col-xl-3
          .footer-widget-area
            .widget-title
              h6 Visítanos
            .widget-contact
              //- // Single Contact Info
              .widget-single-contact.d-flex.align-items-center
                .widget-contact-thumbnail.mr-15
                  img(src='img/icons/alarm-clock.png', alt='')
                .widget-contact-info
                  p
                    | Lunes - Viernes 08:00 - 20:00 
                    br
                    |  Sábado 8:00 - 15:00 
                    br
                    |  Domingo - Cerrado
              //- // Single Contact Info
              .widget-single-contact.d-flex.align-items-center
                .widget-contact-thumbnail.mr-15
                  img(src='img/icons/map-pin.png', alt='')
                .widget-contact-info
                  p
                    | 16 pte nte, #1234 
                    br
                    |  Col. Arboledas
              //- // Single Contact Info
              .widget-single-contact.d-flex.align-items-center
                .widget-contact-thumbnail.mr-15
                  img(src='img/icons/envelope.png', alt='')
                .widget-contact-info
                  p
                    | 961 789 78 78 
                    br
                    |  contacto@skinbody.mx
        .col-12.col-sm-6.col-xl-3
          .footer-widget-area
            .widget-title
              h6 Redes Sociales
            .widget-blog-post
              //- // Single Blog Post
              .widget-single-blog-post.d-flex
                a(href='#')
                  img(src='img/home/brand1.png', alt='').icon-size
              //- // Single Blog Post
              .widget-single-blog-post.d-flex
                a(href='#')
                  img(src='img/home/brand2.png', alt='').icon-size
              //- // Single Blog Post
              .widget-single-blog-post.d-flex
                a(href='#')
                  img(src='img/home/brand3.png', alt='').icon-size
        .col-12.col-sm-6.col-xl-3
          .footer-widget-area
            .widget-title
              h6 Links de interés
            ul
              li
                a(href='#') Preguntas Frecuentes
              li
                a(href='#') Tratamientos
              li
                a(href='#') Resultados
              li
                a(href='#') Testimonios
              li
                a(href='#') Equipo
        .col-12.col-sm-6.col-xl-3
          .footer-widget-area
            .footer-logo
              img(src='img/logo-azul.png', alt='')
            p
              | Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel tristique nibh.
            p
              | Elaborado por 
              a(href='http://www.rodrigoarreola.com.mx', target='_blank') Rodrigo Arreola
  //- // Bottom Footer Area
//- // ***** Footer Area End *****
