// ***** Header Area Start *****
header.header-area
  // Main Header Area
  #stickyHeader.main-header-area
    .container.h-100
      .row.h-100.align-items-center
        .col-12.h-100
          .main-menu.h-100
            nav.navbar.h-100.navbar-expand-lg
              // Logo Area
              a.navbar-brand.img-logo(href='index.html')
                img(src='img/logo-azul.png', alt='Logo')
              button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainMenu', aria-controls='mainMenu', aria-expanded='false', aria-label='Toggle navigation')
                i.fa.fa-bars
                |  Menu
              #mainMenu.collapse.navbar-collapse
                // Menu Area
                ul.navbar-nav.ml-auto
                  li.nav-item
                    a.nav-link(href='') Promociones
                  li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Servicios
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                      a.dropdown-item(href='') Servicio 1
                      a.dropdown-item(href='') Servicio 2
                      a.dropdown-item(href='') Servicio 3
                      a.dropdown-item(href='') Servicio 4
                      a.dropdown-item(href='') Servicio 5
                      // <a class="dropdown-item" href="elements.html">Elements</a>
                  li.nav-item
                    a.nav-link(href='') Testimonios
                  li.nav-item
                    a.nav-link(href='ubicacion.html') Ubicación
                //- // Search Form
                //- .header-search-form.ml-auto
                //-   form(action='#')
                //-     input#search.form-control(type='search', placeholder='¿Qué estás buscando?', name='search')
                //-     input.d-none(type='submit', value='submit')
                //- // Search btn
                //- #searchbtn
                //-   i.ti-search(aria-hidden='true')
// ***** Header Area End *****
