//- // ***** Contact Info Area Start *****
.medica-contact-info-area
  .container
    .row.align-items-center.justify-content-center
      .col-12.col-md-6.col-lg-4
        .single-contact-info.d-flex.align-items-center
          .contact-icon.mr-30
            img(src='img/icons/alarm-clock.png', alt='')
          .contact-meta
            p
              | Lunes - Viernes 08:00 - 20:00 
              br
              |  Sábado 8:00 - 15:00 
              br
              |  Domingo - Cerrado
      .col-12.col-md-6.col-lg-4
        .single-contact-info.d-flex.align-items-center
          .contact-icon.mr-30
            img(src='img/icons/envelope.png', alt='')
          .contact-meta
            p
              | 961 789 78 78 
              br
              |  contacto@skinbody.mx
      .col-12.col-md-6.col-lg-4
        .single-contact-info.d-flex.align-items-center
          .contact-icon.mr-30
            img(src='img/icons/map-pin.png', alt='')
          .contact-meta
            p
              | 16 pte nte, #1234 
              br
              |  Col. Arboledas
//- // ***** Contact Info Area End *****
