//- // ***** Contact Info Area Start *****
section.breadcumb-area.bg-img.gradient-background-overlay(style='background-image: url(img/home/reception.png);')
  .container.h-100
    .row.h-100.align-items-center
      .col-12
        .breadcumb-content
          //- // Title
          h3.breadcumb-title Cónoce nuestras sucursales
          //- // Breadcumb
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Inicio
              li.breadcrumb-item.active(aria-current='page') Ubicación
              
.medica-contact-info-area.color-container
  .container
    //- h2.title-h2 Cónoce nuestras sucursales
    .row.align-items.center-justify-content-center.info-container
      .col-12.col-md-6.col-lg-4.info-location
        .single-contact-info.d-flex.align-items-center.info-item
          .contact-icon.mr-30
            img(src='img/icons/map-pin.png', alt='')
          .contact-meta
            p
              | Sucursal Arboledas
              br
              | 16 pte nte, #1234 
              br
              |  Col. Arboledas
      .col-12.col-md-6.col-lg-8
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.401108964246!2d-93.13358668616047!3d16.75670812509993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ecd8967e96edf3%3A0x17628dea9231378a!2sSKIN+%26+BODY+Cl%C3%ADnica+laser+y+Lipoescultura!5e0!3m2!1ses!2smx!4v1541033529815', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='').iframe-size
    //- hr
    
    .row.align-items.center-justify-content-center.info-container
      .col-12.col-md-6.col-lg-4.info-location
        .single-contact-info.d-flex.align-items-center.info-item
          .contact-icon.mr-30
            img(src='img/icons/map-pin.png', alt='')
          .contact-meta
            p
              | Sucursal Arboledas
              br
              | 16 pte nte, #1234 
              br
              |  Col. Arboledas
      .col-12.col-md-6.col-lg-8
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.401108964246!2d-93.13358668616047!3d16.75670812509993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ecd8967e96edf3%3A0x17628dea9231378a!2sSKIN+%26+BODY+Cl%C3%ADnica+laser+y+Lipoescultura!5e0!3m2!1ses!2smx!4v1541033529815', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='').iframe-size  
    //- hr
    .row.align-items.center-justify-content-center.info-container
      .col-12.col-md-6.col-lg-4.info-location
        .single-contact-info.d-flex.align-items-center.info-item
          .contact-icon.mr-30
            img(src='img/icons/map-pin.png', alt='')
          .contact-meta
            p
              | Sucursal Arboledas
              br
              | 16 pte nte, #1234 
              br
              |  Col. Arboledas
      .col-12.col-md-6.col-lg-8
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.401108964246!2d-93.13358668616047!3d16.75670812509993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ecd8967e96edf3%3A0x17628dea9231378a!2sSKIN+%26+BODY+Cl%C3%ADnica+laser+y+Lipoescultura!5e0!3m2!1ses!2smx!4v1541033529815', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='').iframe-size

  
