//- // ***** Services Area Start *****
section.medica-services-area.section_padding_100.bg-img.gradient-background-overlay(style='background-image: url(img/home/bg4.jpg);')
  .container
    .row
      .col-12
        .section_heading.white-heading
          img(src='img/home/icon7.png', alt='')
          h2 Nuestros Servicios
    .row
      .col-12.col-sm-6.col-lg-4
        .single-service-area.wow.fadeInUp(data-wow-delay='0.2s')
          img(src='img/home/icon1.png', alt='')
          h5 Cavitaci칩n
          p
            | Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.
      .col-12.col-sm-6.col-lg-4
        .single-service-area.wow.fadeInUp(data-wow-delay='0.3s')
          img(src='img/home/icon3.png', alt='')
          h5 Lipoescultura
          p
            | Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.
      .col-12.col-sm-6.col-lg-4
        .single-service-area.wow.fadeInUp(data-wow-delay='0.4s')
          img(src='img/home/icon4.png', alt='')
          h5 Depilaci칩n l치ser
          p
            | Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.
      .col-12.col-sm-6.col-lg-4
        .single-service-area.wow.fadeInUp(data-wow-delay='0.5s')
          img(src='img/home/icon2.png', alt='')
          h5 Faciales
          p
            | Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.
      .col-12.col-sm-6.col-lg-4
        .single-service-area.wow.fadeInUp(data-wow-delay='0.6s')
          img(src='img/home/icon5.png', alt='')
          h5 Rejuvenecimiento
          p
            | Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.
      .col-12.col-sm-6.col-lg-4.wow.fadeInUp(data-wow-delay='0.7s')
        .single-service-area
          img(src='img/home/icon6.png', alt='')
          h5 E-Matrix
          p
            | Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.
      .col-12.text-center.wow.fadeInUp(data-wow-delay='0.9s')
        a.btn.medica-btn(href='#') C칩noce todos nuestros servicios
//- // ***** Services Area End *****
