// ***** Hero Area Start *****
section.hero-area
  .hero-slides.owl-carousel
    // Single Hero Slide
    .single-hero-slide.height-800.bg-img.blur-img(style='background-image: url(img/home/bg1.jpg);')
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .hero-slides-content
              h2(data-animation='fadeInUp', data-delay='100ms')
                | Lucir mejor 
                br
                | es posible
              h5(data-animation='fadeInUp', data-delay='400ms') Ven y consiéntete
              .slide-btn-group.mt-50(data-animation='fadeInUp', data-delay='700ms')
                // <a href="#" class="btn medica-btn">Agenda una cita</a>
                a.btn.medica-btn.ml-2.btn-2(href='#') Agenda una cita
    // Single Hero Slide
    .single-hero-slide.height-800.bg-img.blur-img(style='background-image: url(img/home/bg2.jpg);')
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .hero-slides-content
              h2(data-animation='fadeInUp', data-delay='100ms')
                | ¿Necesitas un descanso? 
                br
                | Prueba con un masaje
              h5(data-animation='fadeInUp', data-delay='400ms') Dejanos consentirte
              .slide-btn-group.mt-50(data-animation='fadeInUp', data-delay='700ms')
                // <a href="#" class="btn medica-btn">Make an Appointment</a>
                a.btn.medica-btn.ml-2.btn-2(href='#') Agenda una cita
    // Single Hero Slide
    .single-hero-slide.height-800.bg-img.blur-img(style='background-image: url(img/home/bg3.jpg);')
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .hero-slides-content
              h2(data-animation='fadeInUp', data-delay='100ms')
                | Luce radiante 
                br
                | todos los días
              h5(data-animation='fadeInUp', data-delay='400ms') Conoce nuestros tratamientos faciales
              .slide-btn-group.mt-50(data-animation='fadeInUp', data-delay='700ms')
                // <a href="#" class="btn medica-btn">Make an Appointment</a>
                a.btn.medica-btn.ml-2.btn-2(href='#') Agenda una cita
// ***** Hero Area End *****
