//- // ***** Testimonials Area Start *****
section.medica-testimonials-area.section_padding_100.bg-img.background-overlay(style='background-image: url(img/home/hero2.jpg);')
  .container
    .row
      .col-12
        .section_heading.white-heading
          //- // <img src="img/icons/stethoscope.png" alt="">
          h2 Mira que dicen nuestros clientes
  .testimonials-slider.owl-carousel
    // Single Testimonials Slide
    .single-testimonial-slide
      .container
        .row
          .col-12
            h6
              | “ Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel tristique nibh. Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. ”
            .testimonial-given-author-info
              img(src='img/home/testimonials2.jpg', alt='')
              h6 Julia
              p 10 sesiones con nosotros
    //- // Single Testimonials Slide
    .single-testimonial-slide
      .container
        .row
          .col-12
            h6
              | “ Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel tristique nibh. Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. ”
            .testimonial-given-author-info
              img(src='img/home/testimonials2.jpg', alt='')
              h6 Andrea
              p 24 sesiones con nosotros
    //- // Single Testimonials Slide
    .single-testimonial-slide
      .container
        .row
          .col-12
            h6
              | “ Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel tristique nibh. Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. ”
            .testimonial-given-author-info
              img(src='img/home/testimonials2.jpg', alt='')
              h6 Analí
              p 6 sesiones con nosotros
//- // ***** Testimonials Area End *****
