<!DOCTYPE html>
html(lang="es")
  head
    title Skin & Body | Clínica láser y lipoescultura
    meta(charset="UTF8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(href='img/icons/icon.png', rel='shortcut icon')
    //- link(href="https://file.myfontastic.com/w62NBAngVKVLrgviQYHPFU/icons.css" rel="stylesheet")
  body
    
    block preloader
      
    block header
      
    block location
      
    block footer
      
    //- script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="js/jquery/jquery-2.2.4.min.js")
    //- Popper js 
    script(src="js/jquery/popper.min.js")
    //- Bootstrap js
    script(src="js/bootstrap.min.js")
    //- Plugins js
    script(src="js/plugins.js")
    //- Scripts
    script(src="js/scripts.js")
