<!DOCTYPE html>
html(lang="es")
  head
    title Web Template
    meta(charset="UTF8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
    //- link(href="https://file.myfontastic.com/w62NBAngVKVLrgviQYHPFU/icons.css" rel="stylesheet")
  body
    block preloader
      
    //- script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    //- script(src="./js/scripts.js")
