/* :: 14.0 CTA Area CSS */

.cta-area {
    position: relative;
    z-index: 1;
}

.cta-content h2 {
    color: #fff;
    font-size: 36px;
}

.cta-content h6 {
    color: #fff;
    margin-bottom: 0;
}
