// Header area


.header-area {
    position: relative;
    z-index: 100;
}

.top-header-area {
    position: relative;
    height: 55px;
    z-index: 1;
}

.top-header-social-info a {
    font-size: 12px;
    color: #fff;
    margin-right: 20px;
    display: inline-block;
}

.top-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.top-menu ul li a {
    display: block;
    padding: 5px 10px;
    color: #fff;
}

.main-header-area {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
}

.is-sticky .main-header-area {
    width: 100%;
    z-index: 10000 !important;
    background-color: #f2f4f8;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}

.navbar {
    padding: 0;
}

#searchbtn {
    cursor: pointer;
    margin-left: 15px;
    color: #2f88fd;
}

.header-search-form,
.search-form-on .navbar-nav {
    display: none;
}

.search-form-on .header-search-form {
    display: block;
}

.header-area .main-menu .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    color: #5f5f5f;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header-area .main-menu .nav-item.active .nav-link,
.header-area .main-menu .nav-link:hover,
.header-area .main-menu .nav-link:focus {
    color: #2f88fd;
}

.dropdown-menu.show {
    border: none;
    padding: 15px 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
}

.dropdown-item {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #5f5f5f;
    text-transform: uppercase;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #2f88fd;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f4f8;
}

.header-search-form form input {
    width: 550px;
    height: 45px;
    padding: 5px 15px;
    font-size: 12px;
    color: #fff;
    border: none;
    background-color: transparent;
    border: 2px solid #2f88fd;
    border-radius: 4px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
}

.header-search-form form input:focus {
    box-shadow: none;
    border-color: #2f88fd;
    background-color: transparent;
}
