/* :: 7.0 Service Area CSS */

.medica-services-area {
    position: relative;
    z-index: 1;
}

.single-service-area {
    margin-bottom: 80px;
}

.single-service-area img {
    margin-bottom: 30px;
}

.single-service-area h5 {
    color: #fff;
    margin-bottom: 30px;
}

.single-service-area p {
    color: #fff;
    margin-bottom: 0;
}
